.streams-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-right: 20px;
  flex-direction: column;

  @media (max-width: $breakpoint-m) {
    width: 100%;
  }

  iframe {
    height: 400px;
    width: 100%;

    @media (max-width: $breakpoint-m) {
      height: 200px;
    }
  }
}
