.home-page {
  background-color: $soft-grey;
  .home-container {
    max-width: $max-width;
    margin:auto;
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
